mixin connector
	select.connector.dropdown
		option(value="and") and
		option(value="but") but
		option(value="because") because
		option(value="so that") so that

.page#write
	p
		span#sentence-start
		+connector
	textarea.text-box#sentence-input
	p
		+connector
		span#sentence-end
