.page#start(style="display: block;")
	h1.title Finish My Sandwich
	p#error-message
	span Game ID:
	input.full.text-box#game-identifier-input
	a.half.button#create-game Create game
	div
		span.half
			span Name:
			input.third.text-box#user-name-input
		a.half.button#join-game Join game
