extends layout

block content
	include content/start-game
	include content/game-lobby
	include content/game-write
	include content/game-write-wait
	include content/game-vote
	include content/game-vote-wait
	include content/game-tally
	include content/game-score

block scripts
	script(src='/javascripts/index.js')
