doctype html
html
	head
		meta(name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1")
		title Finish My Sandwich
		link(rel='stylesheet', href='/stylesheets/style.css')
	body#content
		block content
	script(src='/javascripts/http-utils.js')
	block scripts
