//
// Variables
//

$color-bkg: #eee
$color-bkg-active: #ddd
$color-primary: #333

//
// Global
//

body
	margin: 0
	left: 0
	right: 0
	top: 0
	bottom: 0
	padding: 50px
	color: $color-primary
	background: $color-bkg
	text-align: center
	font: 5vmin "Lucida Grande", Helvetica, Arial, sans-serif

//
// Utility calsses
//

.page
	display: none

.button
	display: inline-block
	margin: 15px
	padding: 10px
	color: $color-primary
	background: #fff
	border: 1px solid $color-primary
	border-radius: 5px
	font: 4vmin "Lucida Grande", Helvetica, Arial, sans-serif
	cursor: pointer

	&:active
		background: $color-bkg-active


.text-box
	display: inline-block
	margin: 15px
	padding: 10px
	color: $color-primary
	background: #fff
	border: 1px solid $color-primary
	border-radius: 5px
	font: 4vmin "Lucida Grande", Helvetica, Arial, sans-serif

// .dropdown
// 	position: relative
// 	display: inline-block
//
// 	&:hover .dropdown-content
// 		display: block
//
// 	.dropdown-content
// 		display: none
// 		position: absolute
// 		background-color: #f9f9f9
// 		min-width: 160px
// 		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
// 		padding: 12px 16px
// 		z-index: 1

.dropdown
	display: inline-block
	display: inline-block
	margin: 15px
	padding: 10px
	padding-right: 42px
	color: $color-primary
	border: 1px solid $color-primary
	border-radius: 5px
	background: url("/Images/arrow.png") right center no-repeat
	background-color: #fff
	font: 4vmin "Lucida Grande", Helvetica, Arial, sans-serif
	cursor: pointer
	appearance: none
	-webkit-appearance: none
	-moz-appearance: none

	&:active
		background-color: $color-bkg-active

.full
	width: 80%

.half
	width: 40%

.third
	width: 26.6%

.quarter
	width: 20%

//
// Start page
//

#start

//
// Lobby page
//

#lobby
